<ion-header>
  <ion-toolbar color="background">
    <ion-title>Checkout</ion-title>

    <ion-buttons slot="end">
    	<ion-icon size="large" (click)="dismis()" name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div id="container" style="margin-top: 50px;">
        <ion-item>
            <ion-label position="stacked">First Name</ion-label>
            <ion-input type="text" #fname>
                <ion-icon slot="start" name="person"></ion-icon>
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Last Name</ion-label>
            <ion-input type="text" #lname>
                <ion-icon slot="start" name="person"></ion-icon>
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Phone Number</ion-label>
            <ion-input type="tel" #phone>
                <ion-icon slot="start" name="call"></ion-icon>
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Physical Address</ion-label>
            <ion-input type="email" clearInput="true" #address (keyup)="search(address)">
                <ion-icon slot="start" name="location"></ion-icon>
            </ion-input>
        </ion-item>

        <ion-item #locAddress *ngFor="let address of addresses; let i=index" (click)="select(address)">
        {{address}}
   		 </ion-item> <br>

        <ion-button shape="round" color="dark" expand="block" fill="solid" (click)="checkout()">Checkout</ion-button>
       </div>
   
</ion-content>

