<ion-header>
    <ion-toolbar color="background">
        <ion-title>Checkout</ion-title>

        <ion-buttons slot="end">
            <ion-icon size="large" (click)="dismis()" name="close"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="container" style="margin-top: 50px;">

        <ion-item>
            <ion-label position="stacked">Phone Number</ion-label>
            <ion-input type="tel" #phone>
                <ion-icon class="icon cart_icon" slot="start" name="call"></ion-icon>
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">House Number</ion-label>
            <ion-input type="number" #house>
                <ion-icon slot="start" name="home" class="icon cart_icon"></ion-icon>
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Physical Address</ion-label>
            <ion-input type="text" clearInput="true" #address (keyup)="search(address)">
                <ion-icon slot="start" name="location" class="icon cart_icon"></ion-icon>
            </ion-input>
        </ion-item>

        <ion-item #locAddress *ngFor="let address of addresses; let i=index" (click)="select(address, i)">
            {{address}}
        </ion-item> <br>

        <ion-button shape="round" color="dark" expand="block" fill="solid" (click)="checkout(phone.value, house.value, address.value)">Checkout</ion-button>
    </div>

</ion-content>