<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>My Basket</ion-title>

        <ion-buttons slot="end">
            <ion-button size="small" color="dark" fill="solid" shape="round" (click)="checkout()">Checkout</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid *ngFor="let item of cartService.getItemList()">
        <ion-row class="item_cart">
            <ion-col size="4">
                <img class="img_cart" src="{{item.getProduct().getURL()}}">
            </ion-col>

            <ion-col size="8" style="padding: 0px">
                <ion-grid style="margin: 0px; padding: 0px">
                    <ion-row>
                        <ion-col style="padding: 0px; margin-top: 1px;margin-left: 4px" size="12">
                            <ion-label>{{item.getProduct().getName()}}</ion-label>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <ion-label><b>{{item.getTotalPrice() | currency: 'ZAR '}}</b></ion-label>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="2">
                            <span><ion-icon class="cart_icon" name="bag-remove" (click)="decreasingQnty(item)"></ion-icon></span>
                        </ion-col>

                        <ion-col size="2">
                            <span><ion-badge color="dark">{{item.getQuantity()}}</ion-badge></span>
                        </ion-col>

                        <ion-col size="2">
                            <span><ion-icon class="cart_icon" name="bag-add" (click)="increasingQnty(item)"></ion-icon></span>
                        </ion-col>

                        <ion-col size="4" style="text-align: right;">
                            <ion-icon class="cart_icon" name="trash" (click)="deleteItem(item)"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-label class="ion-margin" slot="start">Total items</ion-label>
        <ion-label color="dark" slot="start"><b>{{cartService.getTotalItems()}}</b></ion-label>


        <ion-label slot="end">Total price</ion-label>
        <ion-label color="dard" class="ion-margin" slot="end"><b>{{getTotalPrice() | currency: 'R'}}</b></ion-label>
    </ion-toolbar>
</ion-footer>