<ion-header [translucent]="true">
    <ion-toolbar color="background">
        <ion-title>Login</ion-title>

        <ion-buttons slot="end">
            <ion-button class="ion-margin" *ngIf="isRegistered" shape="round" fill="solid" size="small" color="dark" style=" color: #d8e614" (click)="register()">Register</ion-button>

            <ion-icon class="ion-margin" size="large" (click)="dismis()" name="close"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div id="acc_container" *ngIf="!isSignedIn">
        <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input  type="email" #username required>
                <ion-icon slot="end" name="mail"></ion-icon>
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="password" #password required>
                <ion-icon slot="end" name="lock-closed"></ion-icon>
            </ion-input>
        </ion-item>

        <ion-button shape="round" color="dark" expand="block" fill="solid" (click)="logingWithEmailAndPassword(username.value, password.value)">Login</ion-button>
    </div>



</ion-content>