<ion-header>
    <ion-toolbar color="background">
        <ion-title>Register</ion-title>
        <ion-buttons slot="end">
            <ion-icon size="large" (click)="dismis()" name="close"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div style="margin-top: 10%;">
        <ion-item>
            <ion-label position="stacked">First Name</ion-label>
            <ion-input type="text" #fname>
                <ion-icon slot="start" class="icon cart_icon" name="person"></ion-icon>
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Last Name</ion-label>
            <ion-input type="text" #lname>
                <ion-icon class="icon cart_icon" slot="start" name="person"></ion-icon>
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Phone Number</ion-label>
            <ion-input type="tel" #phone>
                <ion-icon class="icon cart_icon" slot="start" name="call"></ion-icon>
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="email" #emailAdd>
                <ion-icon class="icon cart_icon" slot="start" name="mail"></ion-icon>
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Password</ion-label>

            <ion-input type="password" #pswd>
                <ion-icon class="icon cart_icon" slot="start" name="lock-closed"></ion-icon>
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Confirm Password</ion-label>

            <ion-input type="password">
                <ion-icon class="icon cart_icon" slot="start" name="lock-closed"></ion-icon>
            </ion-input>
        </ion-item>


        <ion-button style="margin-top: 10px;" shape="round" color="dark" expand="block" fill="solid" (click)="registerUser(fname.value, lname.value, phone.value, emailAdd.value, pswd.value)">Register</ion-button>
    </div>

</ion-content>